.menu-principal {
    max-height: 100px;
    background-color: white; 
    color: black; 
    padding: 20px; 
    display: flex;
    justify-content: center;
}

.header-1 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.titulo-website {
    padding-right: 50px;
    font-family: Arial;
    color: #464646;
}

.logo {
    display: flex; 
    align-items: center; 
}

.logo img {
    width: 50px; 
    margin-right: 10px; 
}

.logo h1 {
    margin: 0; 
    font-size: 24px; 
}

.menu ul {
    list-style: none; 
    padding: 0; 
}

.menu li {
    display: inline-block; 
    margin-right: 20px; 
}

.menu a {
    text-decoration: none; 
    color: dimgray; 
    font-size: 22px; 
}

.botao .btn {
    background-color: white; 
    color: black; 
    border: none; 
    padding: 10px 20px; 
    font-size: 14px; 
    cursor: pointer; 
    outline: 1px solid black;

}

.apresentacao-inicio {
    height: 805px;
    background-color: #DCE9E2;

}

#img-doutores {
    width: 503px;
    height: 603px;
    padding-left: 300px;
    vertical-align: -150px;
    
}

.msg-boas-vindas {
    font-size: 32px;
    text-align: center;
    padding: 50px;
    padding-left: 150px;
    padding-top: 100px;
    vertical-align: 128px;

}

.msg-boas-vindas #bem-vindo {
    font-size: 38px;
    
}

.msg-boas-vindas #frase-bem-vindo {
    font-size: 48px;
    font-weight: bold;

}

#saude-destacado {
    color: #009696;

}

.msg-boas-vindas, #img-doutores {
    display: inline-block;
    vertical-align: left;

}

#titulo-quem-somos, #texto-quem-somos {
    display: inline-block;
}

.quem-somos {
    height: 400px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo-quem-somos {
    padding-right: 500px;
    font-size: 60px;
    text-align: center;
}

#texto-quem-somos{
    font-size: 25px;
    text-align: justify;
}

.contato {
    position: relative;
    height: 400px;
    background-color: #DCE9E2;
}

.contatos {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 15%;
}

#endereco-vitalis, #email-vitalis, #duvidas {
    font-size: 22px;
}

.contatos img {
    height: 78px;
    width: 345px;
}

#titulo-contato {
    font-size: 60px;
    text-align: right;
    padding-top: 10%;
    padding-right: 20%;
}

.rodape {
    height: 200px;
    position: relative;
}

.rodape-home-page {
    position: absolute;
    text-align: center;
    left: 40%;
}

#texto-rodape {
    font-size: 30px;
    
    
}

#vitalis-face, #vitalis-insta {
    width: 55px;
    height: 46px;
    
}