@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  cursor: pointer;
}

/* HEADER */

body {
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.titulo-form {
  text-align: center;
  padding-top: 40px;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 50px;
}

.container-form {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-gap: 10px;
  justify-self: center;
  margin: 0 auto;
  justify-content: center;
}

.container-form label {
  display: block;
}

#data {
  grid-column: 1/3;
  font-size: 20px;
}

.form label {
  font-size: 18px;
}

.form select {
  border-radius: 3px;
  height: 25px;
}
.size-input {
  width: 250px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.568);
}

#notification {
  margin-top: 10px;
  font-size: 14px;
}

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.button {
  font-size: 16px;
  padding: 8px;
  border-radius: 20px;
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.568);
}

#button-canc:hover {
  transition: 0, 3s;
  color: white;
  border: transparent;
  background-color: red;
}

#button-prox:hover {
  transition: 0, 3s;
  color: white;
  border: transparent;
  background-color: #00856f;
}

input::placeholder {
  font-style: italic;
  padding-left: 4px;
}

#stepText {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 10px;
}

.progress-bar {
  width: 300px;
  height: 15px;
  background-color: #f0f0f0;
  border-radius: 25px;
  margin: 20px;
  overflow: hidden;
}
.progress {
  width: 100%;
  height: 100%;
  background-color: #000000;
  transition: width 0.5s ease-in-out;
}

#button-voltar {
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #e9e9ed;
}